<!-- <h1>My Homework</h1> -->
<router-outlet></router-outlet>


<!-- <div class="card">
  <div class="card-header">
    Page1
  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div> -->

<!-- <angular-popper>
  <div class="target-block border border-primary">
    test
  </div>

  <div content>Popper content</div>
</angular-popper> -->

<!-- <h1 style="margin-top: 20px;">Step Progress Bar</h1>
<div class="progress-container">
  <div class="progress" id="progress">
    <div class="circle active"><i class="fab fa-html5">  </i> test</div>
    <div class="circle active"><i class="fab fa-css3-alt"></i></div>
    <div class="circle active"><i class="fab fa-js"></i></div>
    <div class="circle active"><i class="fab fa-react"></i></div>
  </div>
</div> -->